
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                &copy; <%= new Date().getFullYear() %> Venta Maestra. Todos los derechos reservados.
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="#" class="text-decoration-none me-3">Ayuda</a>
                <a href="#" class="text-decoration-none">Contacto</a>
            </div>
        </div>
    </div>
</footer>
